<h1>ACTORS AT HOME</h1>

<div class="card" style="width: 18rem;">
  <%# <img src="..." class="card-img-top" alt="..."> %>
  <div class="card-body">
    <h5 class="card-title">Di caprio</h5>
    <p class="card-text">Field</p>
    <p class="card-text">Price</p>
    <a href="#" class="btn btn-primary">Book the actor</a>
  </div>
</div>
