.container_show {
  display: flex;
  justify-content: center;
  background-color: gray;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 150px auto;
  width: 60%
}

.show_information {

}

.btn_show {
  text-align: right;
}
.title_show {
  text-align: center;
  padding-top: 40px;
}
