<div class="container py-5" >
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
          <h2>When do you want to rent your actor ?</h2>

          <%= simple_form_for [@actor, @booking] do |f| %>
            <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
            <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
            <%= f.button :submit, "Confirm my dates", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
