<div class="navbar force navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand d-flex" href="/">
    <img src="https://cdn-icons-png.flaticon.com/512/1733/1733692.png" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <h3 class='text-left'>Actors at Home</h3>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%= form_tag actors_path, method: :get do %>
        <%= text_field_tag :query, params[:query],
            class: "search-form-control",
            placeholder: "Find an actor"
          %>
        <%= submit_tag "Search", class:"fa fa-search" %>
      <% end %>
      <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://jooinn.com/images/empty-face-1.jpg" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/users/sign_up">Sign up</a>
          <a class="dropdown-item" href="/users/sign_in">Log in</a>
          <a class="dropdown-item" href="/dashboard">Profile</a>
          <a class="dropdown-item" href="#"><i class="fas fa-cogs"></i></a>
        </div>
      </li>
    </ul>
  </div>
</div>
