<div class="p-3 mb-2">
  <div class="row"></div>
  <div>
    <div class="cards mt-5 ">
      <div class="card-category rounded" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img-4.linternaute.com/BMvvldk0ih8lCkc4RAZ8Pc5Lv7I=/1500x/smart/b3b8cc1315c64a4ba25133b777e55e2f/ccmcms-linternaute/10515834.jpg)">
        <div>What you can find on our website</div>
      </div>
      <div class="card-product mt-5" style="background-color: black">
        <img src="https://i.gifer.com/KYAg.gif" class='rounded'/>
        <div class="card-product-infos">
          <%= link_to 'Discover the actors', actors_path, id:'btn-home' %>
        </div>
      </div>
    </div>
  </div>
