#buton_index {
display: inline-block;
background-color: #71DFE7;
border: 4px double #cccccc;
color: #eeeeee;
text-align: center;
align-items: center;
font-size: 28px;
width: 100px;
cursor: pointer;
height: 45px;
}
